<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="N2CMS.Config" version="2.6.2" targetFramework="net45" />
  <package id="N2CMS.Library" version="2.9.6.8" targetFramework="net45" />
  <package id="N2CMS.Management.NoZip" version="2.9.6.8" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
</packages>