/flubu/bin
/flubu/obj
/flubu/project.lock.json
/dotnet-flubu/project.lock.json
/.vs
/dotnet-flubu/bin/Debug/netcoreapp1.0
/dotnet-flubu/obj/Debug/netcoreapp1.0
/dotnet-flubu/dotnet-flubu.xproj.user
/flubu/flubu.xproj.user
/flubu/flubu.core.xproj.user
/flubu.core/bin/Debug/netstandard1.5
/flubu.core/obj/Debug/netstandard1.5
/flubu.core/flubu.core.xproj.user
/flubu.core/project.lock.json
/flubu.core/bin/Debug/netstandard1.6
/flubu.core/obj/Debug/netstandard1.6
