/**/project.lock.json
/.vs
/dotnet-flubu/bin
/dotnet-flubu/obj
/**/*.xproj.user
/flubu/bin
/flubu/obj
/flubu.tests/bin
/flubu.tests/obj
/Flubu.Tests/project.json.new
/project.json.new
/Flubu.BuildScript/bin
/Flubu.BuildScript/obj
/bin
/obj
/results.xml
/Flubu.BuildScript/.vscode
