@model FlubuCore.WebApi.Models.ViewModels.ScriptsViewModel
<div class="text-center">
    <h1 class="display-4">Script execution</h1>
</div>
<div class="col-md-4">
    <h6>Select script:  <select asp-items="@Model.Scripts"></select></h6>  
</div>