html { padding-bottom: 100px; }
.n2-preview {
	position:fixed;
	bottom:0;
	left:0;
	font-family:'Segoe UI', Helvetica, sans-serif;
	font-size: 14px;
	z-index:9999;
	color:#fff; 
}
.n2-preview * {
	/*transition: ease-out .2s all;*/
	margin:0;
	padding:0;
}
.n2-preview-bar {
	background:#E28B51;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.n2-preview-bar.n2-preview-published {
	background:#18a0de;

}
.n2-preview-actions {
	list-style-type:none;
	padding:0;
	margin:0;
	display:inline-block;
	line-height:14px;
}
	.n2-preview-actions > li {
		list-style-type:none;
		padding:0;
		margin:0;
		display:inline-block;
		position:relative;
	}
	.n2-preview-actions > li > a { display:inline-block; padding:12px; color:#fff; }

	.n2-preview-actions li > a:hover, 
	.n2-preview-actions li.n2-active > a { background-color:rgba(255, 255, 255, .15) }

	.n2-preview-actions .fa { height:15px; width:15px; text-align: center; }
	.n2-preview-actions .n2-iconed { display:inline-block; width:16px; height:16px; background: transparent none no-repeat 50% 50%; vertical-align: bottom; }

	.n2-preview-actions .n2-button { display:inline-block; background-color: #18a0de; padding:10px; border:none; color:#fff; }
	.n2-preview-actions .n2-button:hover { background-color: rgba(24, 160, 222, 0.85); }

	.n2-preview-actions .n2-logo img { height:15px; }

	.n2-preview-actions .n2-preview-foldup {
		position:absolute; 
		bottom:100%; 
		left:0; 
		min-width:250px; 
		max-width:500px; 
		max-height:400px;
		padding: 5px;
		overflow:auto;
		box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.25); 
		color: #000;
		background-color:#fff;
		border: solid 1px #18a0de;
	}
		.n2-preview-actions .n2-preview-foldup li a { color:#000; padding: 5px 10px; display:block; }

	.n2-preview-add { position:relative; }

	.n2-preview-adding { padding: 10px; }
		.n2-preview-adding label { display:block; margin-bottom: 10px; }
		.n2-preview-adding div { margin-bottom: 10px; }
		.n2-preview-adding a { color: #18a0de; }
		
	.n2-preview-moving { padding: 10px; }
		.n2-preview-moving label { display:block; margin-bottom: 10px; }
		.n2-preview-moving div { margin-bottom: 10px; }
		.n2-preview-moving a { color: #18a0de; }



.zoneItem { outline: solid 2px rgba(24, 160, 222, 0.25); position:relative; box-shadow: 0 0 5px rgba(255, 255, 255, .5); min-height: 10px; }
.zoneItem:hover { outline: solid 2px #18a0de; }
.zoneItem .titleBar { max-height: 0; overflow:hidden; opacity:0; outline: solid 2px rgba(24, 160, 222, 0.75); background-color: rgba(24, 160, 222, 0.75); position:absolute; top:0; width:100%; padding:0; margin-top:0; 
					  font-family: 'Segoe UI', Helvetica, sans-serif; font-size:14px; color:#333; text-align:left; transition: all .1s ease-in; line-height:18px }
.zoneItem:hover > .titleBar { max-height:30px; opacity:1; z-index:100; }
.zoneItem.n2-part-hover > .titleBar { z-index:200; box-shadow: 0 -2px 10px rgba(255, 255, 255, .5); }
.zoneItem .titleBar:hover { z-index:300; box-shadow: 0 -2px 10px #fff; background-color: rgba(24, 160, 222, 1); outline: solid 2px rgba(24, 160, 222, 1); }
	.zoneItem .titleBar .title { display:inline-block; padding:5px; padding-left:24px; background:none no-repeat 5px 5px; color:#fff; }
		.zoneItem .titleBar .title .fa { margin-left: -15px; margin-right:5px;  }
	.zoneItem .titleBar .commands a { float:right; color:#fff; padding:8px; margin:-2px -2px 0 0; position:relative; }
	.zoneItem .titleBar .commands a:hover { text-decoration:none; background-color: rgba(116, 198, 235, 0.5); }
.zoneItem.n2-part-hover > .titleBar{ opacity:1; max-height: 100px; }

.n2-drop-area-marker { height:0; transition: all .5s ease-in }
	.n2-drop-area-marker * { transition: all 1s ease-in; max-height: 0; overflow:hidden; opacity:0; }
.n2-drop-area { height:1px; position:relative; }
	.dropZone .dropZone .n2-drop-area { margin-top:12px; }
	.dropZone .dropZone .dropZone .n2-drop-area { margin:17px; }
	.n2-drop-area * { max-height:50px; opacity:1; }
.n2-drop-area.n2-append { height:44px; }
.n2-drop-area a { display:block; padding:10px; background: #eee; border: solid 2px rgba(24, 160, 222, .25); border-radius: 5px; text-align:center; position:absolute; width:100%; z-index:200; box-sizing: border-box; }
.n2-drop-area:hover a { background-color:greenyellow; border-color: greenyellow; text-decoration:none; z-index:400; }
.zoneItem > .n2-drop-area.n2-prepend a { opacity:0; max-height:0; bottom: 0; transition: ease-out .2s all; }
.zoneItem:hover > .n2-drop-area.n2-prepend a { opacity:1; max-height: 100px; }

.n2-editable {
	box-shadow: 0 0 10px rgba(255, 127, 80, .2) inset;
	position:relative;
	transition: all .3s ease-out;
	min-height: 22px;
}
.n2-editable:hover {
	box-shadow: 0 0 20px rgba(255, 127, 80, .8) inset;
	outline: solid 1px rgba(255, 127, 80, .8);
}
	.n2-editable .n2-editable-link {
		position:absolute;
		top:0;
		right:0;
		color:#fff;
		font-size:14px;
		display:inline-block;
		padding:2px;

		margin-top: 0;
		color:rgba(255, 127, 80, .25);
		transition: all .2s ease-out;
		overflow:hidden;
	}
	.n2-editable:hover .n2-editable-link {
		color:#fff;
		max-height:24px;
		min-width:24px;
		opacity:.75;
		overflow:visible;
		background: rgba(255, 127, 80, 1);
		padding:1px;
	}
	.n2-editable .n2-editable-link:hover {
		opacity:1;
		z-index:500;
		text-decoration:none;
	}
		.n2-editable .n2-editable-link * {
			opacity:.75;
			transition: all .1s ease-out;
			vertical-align: middle;
		}
		.n2-editable .n2-editable-link:hover * {
			opacity:1;
		}
		.n2-editable .n2-editable-link b {
			display:inline-block;
			padding:2px 2px 2px 5px;
		}
		.n2-editable .n2-editable-link span {
			display:inline-block;
			white-space:nowrap;
			opacity:0;
			max-width:0;
			overflow:hidden;
		}
		.n2-editable .n2-editable-link:hover span {
			max-width:200px;
			overflow:hidden;
			padding:0 2px;
		}
		.n2-editable .n2-editable-link span:hover {
			text-decoration:underline;
		}
.n2-drop-area a{
	background:repeating-linear-gradient(
    45deg,
    rgba(24, 160, 222, .25),
    rgba(24, 160, 222, .25) 5px,
    rgba(255, 255, 255, .5) 5px,
    rgba(255, 255, 255, .5) 10px
  );
}
	.n2-drop-area a span {
		background: rgba(255, 255, 255, .75);
		box-shadow: 0 0 15px rgba(255, 255, 255, .75);
	}

.n2-highlighted.n2-editable,
.n2-highlighted.n2-drop-area > a {
	animation: n2-zone-blink 2s ease-in-out infinite !important;
}
.n2-highlighted:hover,
.n2-highlighted:hover > a {
	animation:none;
}
@keyframes n2-zone-blink {
    0% { box-shadow: none; }
    50% { box-shadow: 0 0 30px MediumSeaGreen; }
    100% { box-shadow: none; }
}
